.header {
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: absolute;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .logo-container {
      .pba-logo {
        padding: 10px 0 7px 10px;
        min-width: 160px;
        width: 20%;
      }
    }
    .header-actions {
      display: flex;
      padding: 10px 10px 10px 0;

      #settings-btn {
        margin-right: 5px;
      }

      #logout-btn {
        margin-left: 5px;
        color: white;
        background-color: #006fb9;
      }
    }
  }
}
