<div class="header">
  <div class="header-content">
    <div class="logo-container">
      <img
        class="pba-logo"
        src="../../../assets/pba-health-logo.png"
        alt="PBA Health Logo"
        routerLink="/dashboard"
      />
    </div>
    <div class="header-actions">
      <button mat-raised-button id="settings-btn" routerLink="/settings">Settings</button>
      <button mat-raised-button id="logout-btn" (click)="authService.logout()">
        Logout
      </button>
    </div>
  </div>
</div>
